.chat {
  @extend .card;
  padding: 1rem;
  .chat-messages {
    @extend .card-body;
    overflow-y: scroll;
    height: 60vh;
    border: solid 1px gray;
    .message {
      margin: 0.5rem;
      width: 97.5%;
      .content {
        font-size: 1.25rem
      }
    }
  }
}
.field {
  label {
    margin-right: 1rem;
  }
  .actions {
    input {
      @extend .btn, .btn-primary;
    }
  }
}

.login-container {
  display: flex;
  justify-content: center;
  h1 {
    font-size: 2rem;
  }
  .card.login {
    width: 55%
  }
  padding: 5rem;
  margin: 5rem;
}

body.landing{
  background: url('background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50%;
}

body {
  background: #18a84fda;
}